body {
  background-color: white;
  font-family: "Ubuntu";
}
/* NavExplore */
/* .twitternav:hover {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background-color: hsla(219, 100%, 96%, 1);
} */
.beranda:hover {
  background-color: hsla(219, 100%, 96%, 1);
}

/* .dropdown:hover {
  background-color: hsla(219, 100%, 96%, 1);
  border-radius: 20px;
} */
/* middleExplore */

/* explore home */
.covidP {
  bottom: 30px;
  left: 16px;
}
.updates {
  bottom: 14px;
  left: 16px;
}
.listBottom:hover {
  background-color: hsla(219, 100%, 96%, 1);
}
/* akhir explore home */
/* nav tab */
.tab-list {
  border-bottom: 1px solid #ccc;
  padding-left: 0;
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.75rem;
}

.tab-list-active {
  background-color: white;
  border: solid #1c9ceb;
  border-width: 1px 1px 0 1px;
}
/* akhir nav tab */
